[Unit]
Description=dar-backup FULL timer

[Timer]
# yearly the day before new years, that is typically a vacation day for Per
OnCalendar=*-12-30 10:03:00

[Install]
WantedBy=timers.target


