*.pyc
v2/README.md
v2/conf/dar-backup.conf
v2/backup.d/pj-homedir
v2/dar_backup.egg-info
v2/dependency_links.txt
v2/PKG-INFO
v2/SOURCES.txt
v2/src/mount-microserver.sh
v2/src/dar_backup/*.md
v2/test/__pycache__/prereq.cpython-312.pyc
v2/test/test_template.py
v2/top_level.txt
v2/venv
v2/old_dar_backup
v2/dist
v2/build
v2/.coverage
v2/dar-backup.tar
v2/coverage.xml
