
include README.md
include Changelog.md
include LICENSE
include verify-signature.sh
recursive-include doc *.md *.txt


exclude venv/*
exclude tests/*
exclude dist/*
exclude build.sh
exclude testall.sh
exclude pytest*



