#
#  Configuration file for automated tests
#
# Environment variables.

# the Discord webhook address to send messages to
DISCORD_WEBHOOK="the long Discord webhook here"

# server name or ip address
# not relevant if --local-backup-dir is used
SERVER=some-server 

# the directory on the server used to store backups
# not relevant if --local-backup-dir is used
SERVER_DIR="/some/dir"

# dar archives are written here, change to a more suitable location
# use --local-backup-dir for not trying to do an sshfs mount
# TODO rename to something like ARCHIVE_DIR
MOUNT_POINT="@@ARCHIVE_DIR@@/archives"

# use catalogs or not, default is no - to not break existing setups
USE_CATALOGS=y

# Name of catalog database
CATALOG_SUFFIX=.catalog

# path to log file
LOG_LOCATION="@@ARCHIVE_DIR@@/archives"

# should all output be captured in a file
DEBUG=n

# path to debug log file
DEBUG_LOCATION="/tmp/dar-debug.log"

# age in days for DIFF archives to be cleaned up (deleted)
DIFF_AGE=100

# age in days for INC archives to be cleaned up (deleted)
INC_AGE=40