[Unit]
Description=alert upcoming FULL dar-backup
StartLimitIntervalSec=120
StartLimitBurst=1
[Service]
Type=oneshot
TimeoutSec=300
RemainAfterExit=no
ExecStart=@@DAR_BACKUP_DIR@@/bin/../bin/send-msg.sh "NOTICE: FULL dar-backup coming up"
