[Unit]
Description=dar-backup FULL
StartLimitIntervalSec=120
StartLimitBurst=1
[Service]
Type=oneshot
TimeoutSec=infinity
RemainAfterExit=no
ExecStart="@@DAR_BACKUP_DIR@@/bin/dar-backup.sh"
