[Unit]
Description=alert upcoming DIFF dar-backup
StartLimitIntervalSec=120
StartLimitBurst=1
[Service]
Type=oneshot
TimeoutSec=5 min
RemainAfterExit=true
ExecStart="@@DAR_BACKUP_DIR@@/bin/send-msg.sh 'NOTICE: DIFF dar-backup coming up'"
