[Unit]
Description=alert upcoming DIFF dar-backup
StartLimitIntervalSec=120
StartLimitBurst=1
[Service]
Type=oneshot
TimeoutSec=300
RemainAfterExit=true
ExecStart=@@DAR_BACKUP_DIR@@/bin/../bin/send-msg.sh "NOTICE: DIFF dar-backup coming up"
