[Unit]
Description=alert upcoming DIFF dar-backup

[Timer]
# Monthly DIFF on the first day of month
OnCalendar=*-*-01 07:03:00

[Install]
WantedBy=timers.target


